          {% if site.news != blank -%}
          {% assign news_size = 0 %}
          {% for item in site.news %}
          {% if item.display %}
          {% assign news_size = news_size | plus:1 %}
          {% endif %}
          {% endfor %}

          {% if news_size > 0 %}
          <div class="news">
            <h2>News</h2>
            <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% if site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                {% if item.display %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
                {% endif %}
              {%- endfor %} 
              </table>
            </div>
          </div>
          {% endif %}
          {%- endif %}
